# Data Preparation

## Importing Libraries

In [1]:
import pandas as pd

## Reading Data

In [8]:
df_2020_2021_results = pd.read_csv('League_Result_Data/2020-3:21:2021_League_Games_fromFootball-Data.csv')
df_2019_2020_results = pd.read_csv('League_Result_Data/2019-2020_League_Games_fromFootball-Data.csv')
df_2018_2019_results = pd.read_csv('League_Result_Data/2018-2019_League_Games_fromFootball-Data.csv')
df_2017_2018_results = pd.read_csv('League_Result_Data/2017-2018_League_Games_fromFootball-Data.csv')
df_2016_2017_results = pd.read_csv('League_Result_Data/2016-2017_League_Games_fromFootball-Data.csv')
df_2015_2016_results = pd.read_csv('League_Result_Data/2015-2016_League_Games_fromFootball-Data.csv')
df_2014_2015_results = pd.read_csv('League_Result_Data/2014-2015_League_Games_fromFootball-Data.csv')

In [25]:
df_2014_2015_results.shape

(381, 68)

## Merging Data

In [19]:
df = pd.merge(df_2020_2021_results,df_2019_2020_results, how='outer')
df = pd.merge(df,df_2018_2019_results, how='outer')
df = pd.merge(df,df_2017_2018_results, how='outer')
df = pd.merge(df,df_2016_2017_results, how='outer')
df = pd.merge(df,df_2015_2016_results, how='outer')
df = pd.merge(df,df_2014_2015_results, how='outer')

In [20]:
df.shape

(2571, 130)

In [26]:
df

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,LBH,LBD,LBA,SJH,SJD,SJA
0,E0,12/09/2020,12:30,Fulham,Arsenal,0.0,3.0,A,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,12/09/2020,15:00,Crystal Palace,Southampton,1.0,0.0,H,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,12/09/2020,17:30,Liverpool,Leeds,4.0,3.0,H,3.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,12/09/2020,20:00,West Ham,Newcastle,0.0,2.0,A,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,13/09/2020,14:00,West Brom,Leicester,0.0,3.0,A,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2566,E0,24/05/15,NaN,Leicester,QPR,5.0,1.0,H,2.0,0.0,...,1.98,1.93,1.98,1.93,1.62,4.00,5.5,NaN,NaN,NaN
2567,E0,24/05/15,NaN,Man City,Southampton,2.0,0.0,H,1.0,0.0,...,2.00,1.94,2.03,1.93,1.57,4.20,6.0,NaN,NaN,NaN
2568,E0,24/05/15,NaN,Newcastle,West Ham,2.0,0.0,H,0.0,0.0,...,1.82,1.78,2.20,2.10,1.80,3.75,4.5,NaN,NaN,NaN
2569,E0,24/05/15,NaN,Stoke,Liverpool,6.0,1.0,H,5.0,0.0,...,2.07,2.02,1.88,1.85,3.30,3.50,2.2,NaN,NaN,NaN
2570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN